<div class="container">
  <div class="form-container">
    <div class="login-logo">
      <mat-icon aria-hidden="false" aria-label="Login icon" fontIcon="account_circle"></mat-icon>
    </div>
    <h3 class="login-title">
      Sign In
    </h3>
    <form class="login-form" [formGroup]="formGroup">
      <div>
        <mat-form-field class="login-form-field">
          <mat-label>Login</mat-label>
          <input matInput placeholder="Username or email or phone number"
                 formControlName="login">
          <mat-error>Login is <strong>required</strong></mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="login-form-field">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password"
                 formControlName="password">
          <mat-error>Password is <strong>required</strong></mat-error>
        </mat-form-field>
      </div>
    </form>
    <button class="login-button"
            (click)="submit()"
            [disabled]="formGroup.invalid">
      Sign In
    </button>
    <div class="forgot-password-container">
      <a class="forgot-password" href="">
        Forgot password?
      </a>
    </div>

    <p class="or-container">
      Continue with ...
    </p>
    <div class="login-social-container">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="passkey"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="passkey"></mat-icon>
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="passkey"></mat-icon>
    </div>
    <div class="register-container">
      Don't have an account?
      <a class="register" href="">
        Sign Up
      </a>
    </div>
  </div>
</div>
