<div class="layout">
  <mat-sidenav-container class="layout-container" autosize [hasBackdrop]="hasBackdrop()">
    <mat-sidenav
      [mode]="sidenavMode()"
      [opened]="sidenavOpened()"
      (closed)="onSidenavClosed()"
      class="layout-sidenav"
      [class.layout-sidenav--mobile]="isMobile()">
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="layout-content">
      <app-topbar (toggleSidenav)="toggleSidenav()"></app-topbar>

      <main class="page-area">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
